<div>
  <h3>More than Ruby</h3>
  <p>This is a sample text document to show the powers of ruby and the ruby
    on rails framework. We can use this to power many applications in the
    future. Know the fundamentals and the hard part will be easy.</p>
  <h4>Where do we start?</h4>
  <ul>
    <% ["Harvard", "MIT", "Stanford", "Yale", "Carnegie Mellon"].each do |school| %>
      <li><%= school%> is an Ivy League School.</li>
    <% end %>
  </ul>
</div>
